apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: solidb-data
  namespace: solidb
  labels:
    app.kubernetes.io/name: solidb
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  # Uncomment to use a specific storage class
  # storageClassName: standard
